.header {
  background: linear-gradient(#ccd9e2, #a9c2d400, #ffffff);
  box-shadow: 0 0 5px grey;
}
.nav {
  max-width: 1100px;
  min-height: 20px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
}
.nav_link_wrapper {
  display: flex;
  gap: 50px;
}
.nav_input {
  text-decoration: none;
  font-size: 16px;
  color: black;
}
.nav_input:hover {
  color: #4a99d3;
}
.nav_logo_text {
  color: #4a99d3;
  font-size: 30px;
  font-weight: bold;
}
.nav_child {
  list-style-type: none;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 60px;
}
.header_headline {
  font-size: 50px;
  margin-bottom: 20px;
}
.header_text {
  font-size: 20px;
  margin-bottom: 50px;
}
